## CHI-SQUARE TEST


Association between Device Type and Customer Satisfaction

Background:
Mizzare Corporation has collected data on customer satisfaction levels for two types of smart 

home devices: Smart Thermostats and Smart Lights. They want to determine if there's a significant association between the type of device purchased and the customer's satisfaction level.

Data Provided:
The data is summarized in a contingency table showing the counts of customers in each satisfaction level for both types of devices:
Satisfaction	Smart Thermostat	Smart Light 	Total
Very Satisfied	 50	                70	             120
Satisfied	     80	                100	             180
Neutral	         60	                90	             150
Unsatisfied	     30	                50	             80
Very Unsatisfied 20	                50	             70
Total	         240	            360	             600

Objective:
To use the Chi-Square test for independence to determine if there's a significant association between the type of smart home device purchased (Smart Thermostats vs. Smart Lights) and the customer satisfaction level.

Assignment Tasks:
1. State the Hypotheses:
2. Compute the Chi-Square Statistic:
3. Determine the Critical Value:
Using the significance level (alpha) of 0.05 and the degrees of freedom (which is the number of categories minus 1)
4. Make a Decision:
Compare the Chi-Square statistic with the critical value to decide whether to reject the null hypothesis.

Submission Guidelines:
•	Provide a detailed report of your analysis, including each step outlined in the assignment tasks in a python file.
•	Include all calculations, the Chi-Square statistic, the critical value, and your conclusion.

In [40]:
import pandas as pd
import numpy as np
import scipy.stats as stats
from scipy.stats import chi2_contingency

State the Hypotheses:
Null Hypothesis (H₀): Assumes no effect or no difference between variables.
Alternative Hypothesis (H₁ or Hₐ): Assumes there is an effect or a difference.

In [20]:
dict1={'Satisfaction':['Very Satisfied','Satisfied','Neutral','Unsatisfied','Very Unsatisfied'],'Smart Thermostats':[50,80,60,30,20],'Smart Light':[70,100,90,50,50]}
dict1

{'Satisfaction': ['Very Satisfied',
  'Satisfied',
  'Neutral',
  'Unsatisfied',
  'Very Unsatisfied'],
 'Smart Thermostats': [50, 80, 60, 30, 20],
 'Smart Light': [70, 100, 90, 50, 50]}

In [22]:
df=pd.DataFrame(dict1)
df

       Satisfaction  Smart Thermostats  Smart Light
0    Very Satisfied                 50           70
1         Satisfied                 80          100
2           Neutral                 60           90
3       Unsatisfied                 30           50
4  Very Unsatisfied                 20           50

In [24]:
df1 = df.select_dtypes(include = np.number)
df1

   Smart Thermostats  Smart Light
0                 50           70
1                 80          100
2                 60           90
3                 30           50
4                 20           50

# Perform chi-square test for independence
chi2, p, dof, expected = chi2_contingency(observed)

In [64]:
#contingency table data
chi2_stats= stats.chi2_contingency(df1)    #convert in the form of an array

In [30]:
chi2_stats

Chi2ContingencyResult(statistic=5.638227513227513, pvalue=0.22784371130697179, dof=4, expected_freq=array([[ 48.,  72.],
       [ 72., 108.],
       [ 60.,  90.],
       [ 32.,  48.],
       [ 28.,  42.]]))

alpha=0.05
Digree of freedom=4    # dof=(number of columns-1)*(number of rows-1)=4

In [66]:
#Critical value
chi2_critical=stats.chi2.ppf(0.95,4)
chi2_critical

9.487729036781154

CONCLUSION:
chi2_stats < chi2_critical.

chi2_stats=5.638227513227513 and chi2_critical=9.487729036781154
chi2_stats value is less than the critical value.

Reject the null hypothesis: There is a no significant association between device type and customer satisfaction.